:root {
    --light-green: #edf9e5;
    --medium-green: #84a98c;
    --teal: #52796f;
    --dark-teal: #354f52;
    --navy: #2f3e46;
    
}

body {
    background-color: var(--light-green);
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    font-size: 20px;
    margin-right: 40px;
}

.currentRead {
    text-align: center;
    min-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.currentBook {
    min-height: 300px;
    min-width: 250px;
}

.readme {
    max-width: 300px;
    max-height: 500px;
    padding-top: 10px;
}

.footer {
    color: var(--dark-teal);
}

button {
    background-color: var(--light-green);
}

.card:hover {
    color:var(--navy)
}



