@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

:root {
  --light-green: #b1c0a8;
  --medium-green: #84a98c;
  --teal: #52796f;
  --dark-teal: #354f52;
  --navy: #2f3e46;
}

button {
  background-color: var(--navy);
  font-family: 'IM Fell DW Pica';
}
header {
  background-color: var(--light-green);
  color: var(--dark-teal);
}

h1,
p,
h2 {
  font-family: 'IM Fell DW Pica';
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-size: 20px;
  margin-right: 40px;
}

.currentRead {
  text-align: center;
  min-height: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.currentBook {
  max-height: 400px;
  max-width: 275px;
}

.readme {
  max-width: 300px;
  max-height: 500px;
}

.libcard {
  max-width: 30px;
}
.form-input {
  font-family: 'IM Fell DW Pica';
}

.card {
  border: none;
  padding: 10px;
}

label {
  font-family: 'IM Fell DW Pica';
  font-size: 22px;
  padding: 10px;
}

.menu-container {
    /* position: relative; */
    align-content: center;
  }
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    top: 100%;
    left: 0; */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .btn-menu {
    display: none; /* Hide menu button on larger screens */
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .btn-menu {
      display: block; /* Show menu button on smaller screens */
    }
  
    .buttons-container {
      display: none; /* Hide buttons on smaller screens */
    }
  
    .dropdown-menu {
      display: none; /* Hide dropdown menu by default on smaller screens */
    }
  
    .menu-container:hover .dropdown-menu {
      display: flex; /* Show dropdown menu when menu container is hovered */
    }
  }

