:root {
    --light-green: #cad2c5;
    --medium-green: #84a98c;
    --teal: #52796f;
    --dark-teal: #354f52;
    --navy: #2f3e46;
    
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    font-size: 20px;
    margin-right: 40px;
}

.currentRead {
    text-align: center;
    min-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.currentBook {
    min-height: 300px;
    min-width: 250px;
}

.readme {
    max-width: 300px;
    max-height: 500px;
}

.libcard {
    max-width: 30px;
}